body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

header {
    background-color: #111;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-content h1,
.header-content h2 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
}

main {
    margin-top: 100px; /* Adjust this value to your header height */
    padding-bottom: 100px; /* Add padding to avoid overlap with fixed footer */
}

footer {
    background-color: #111;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    gap: 1em;
}

.section {
    flex: 1 1 30%;
    padding: 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    min-height: 200px;
    color: #fff;
}
.section-content {
    padding: 1em;
    border-radius: 8px;
    color: #fff;
    position: relative; /* Needed for the pseudo-element */
}

.section-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    border-radius: 8px;
    z-index: -1; /* Make sure the background is behind the text */
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.project-links a img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.bg-dark {
    background-color: #222;
    text-align: center;
    padding: 2em;
    margin: 0 auto;
    max-width: 300px;
}

.bg-image {
    height: 100vh; /* Full viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-content {
    display: flex;
    align-items: flex-start; /* Align items to the start */
}

.profile-photo {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Make the photo square */
    border-radius: 8px; /* Rounded corners */
    margin-right: 20px; /* Space between the photo and the text */
}
